[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

.consulo/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

.vs/
.idea/
*.csproj
*.sln
*.slnx
*.unityproj
*.booproj
*.svd
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db

*.meta
!Assets/**/*.meta
!Packages/**/*.meta
!ProjectSettings/**/*.meta

[Aa]ssets/[Ss]treamingAssets/
